@import url(//db.onlinewebfonts.com/c/e1ff8ff97ca60a7c87e2feb6635baf1a?family=a71d6c25f3ffa983+-+subset+of+History+Pro+02);
@font-face {
  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";
  src: url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.eot");
  src: url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e1ff8ff97ca60a7c87e2feb6635baf1a.svg#a71d6c25f3ffa983 - subset of History Pro 02")
      format("svg");
}
body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  list-style: none;
  text-decoration: none;
}

.rectangle {
  width: 100%;
  height: 27px;
  background: #111113;
  opacity: 0.9;
  align-items: center;
  display: flex;
}

.valet {
  margin-left: 37px;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  font-feature-settings: "salt" on, "ss01" on;

  /* Main/White */

  color: #ffffff;
}
.filter-valet img {
  margin-left: 5px;
  margin-bottom: 2px;
  text-align: center;
  align-items: center;
}

.lang {
  margin-left: 25px;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  font-feature-settings: "salt" on, "ss01" on;

  /* Main/White */

  color: #ffffff;
}

.sub-title-rectangle p {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 502px;
}
.support {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 551px;
}
.header-nav {
  background: url(../img/bk-nav.png);
  background-size: cover;
  height: 100vh;
}
.logo {
  width: 160px;
  height: 40px;
  padding-top: 29px;
  margin-left: 37px;
  align-items: center;
  text-align: center;
}

.menu {
  display: flex;
  margin-left: 340px;
}

.menu .menu-item .menu-item-link {
  margin-right: 48px;

  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  letter-spacing: 0.08em;

  color: #ffffff;
}

.menu-item:nth-child(7n) {
  margin-right: 145px;
}

.menu .icon-nav-item {
  margin-right: 25px;
}
.title {
  padding-top: 180px;
  padding-bottom: 285px;
  padding-left: 92px;
}
.title h1 {
  max-width: 562px;
  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";
  font-style: normal;
  font-weight: normal;
  font-size: 63.3239px;
  line-height: 82px;
  /* or 129% */

  letter-spacing: 0.01em;

  color: #ffffff;
}

.title p {
  margin-top: 25px;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "salt" on, "ss01" on;

  color: #ffffff;

  opacity: 0.8;
}
.btn {
  margin-top: 43px;
}

.btn-link-white {
  background: #ffffff;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  color: #0e0f14;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 44.5px;
  padding-right: 44.5px;
}

.btn-link {
  margin-left: 13px;
  border: 1.16667px solid #ffffff;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;
}

.main {
  height: 100vh;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 108px;
  margin-right: 108px;
}

.title-main h2 {
  text-align: center;
  padding: 0;
  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  /* or 144% */

  letter-spacing: 0.01em;

  color: #000000;
}

.main-menu-div ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu-div ul li {
  margin-right: 33px;
}

.main-menu-div ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  /* identical to box height, or 18px */

  letter-spacing: 0.08em;

  color: #000000;
}

.cart {
  margin-top: 68px;
  display: flex;
}
.cart-item {
  position: relative;
  margin-right: 25px;
}

.cart-item .explore {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 95px;
  left: 50px;
  text-align: center;
  padding: 18px 100px;
  background: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  /* Main/90 */

  color: #393939;
  box-shadow: 0.001px 0.001px black;
}

.cart-item .like-main {
  position: absolute;
  top: 24px;
  right: 24px;
}

.label {
  position: absolute;
  padding: 12px 16px;
  top: 24px;
  left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  font-feature-settings: "salt" on, "ss01" on;

  /* Main/90 */

  color: #393939;
  background: #fff;
}
.btn-label {
  border: 1px solid #111113;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 18px 138px;
  margin-left: 420px;
  margin-top: 96px;
}
.btn-label a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;

  /* Main/90 */

  color: #393939;
}
.cart-title-div {
  margin-top: 15px;
}
.cart-title {
  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */

  letter-spacing: 0.01em;

  color: #000000;
}
.cart-sub-title {
  margin-top: 8px;
}
.line {
  text-decoration: line-through;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #828282;
}
.price {
  color: #bd3735;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  font-feature-settings: "salt" on, "ss01" on;

  color: #bd3735;
}

.main-cart-item-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-cart-item-hero img {
  display: block;
}
.item-hero {
  max-width: 720px;
}
.section {
  height: 100vh;
}
.title-hero {
  max-width: 760px;
  text-align: center;

  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";

  font-size: 36px;
  line-height: 52px;
  /* or 144% */

  letter-spacing: 0.01em;

  color: #000000;
}

.title-main-sec {
  padding-top: 80px;
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cart-sec {
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-sec img {
  margin-right: 16px;
}

.sec-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-nav-item li {
  margin-top: 42px;
  margin-right: 92px;
}

.sec-nav-item li a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  /* identical to box height, or 18px */

  letter-spacing: 0.08em;

  color: #000000;

  opacity: 0.7;
}

.title-main-sec-two {
  font-family: "a71d6c25f3ffa983 - subset of History Pro 02";

  text-align: center;

  font-size: 40px;
  line-height: 64px;
  /* or 144% */

  letter-spacing: 0.01em;

  color: #000000;
}
.cart-sec-two ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 63px;
}
.cart-sec-two ul li {
  margin-right: 16px;
}
.cart-sec-two ul li a img {
  display: block;
  width: 351px;
  height: 352px;
}

.section-footer {
  height: 286px;
}

.logo-footer img {
  margin-top: 43px;
  margin-left: 108px;
}
.section-footer {
  position: relative;
}
.footer-menu-main {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  margin-left: 316px;

  align-items: center;
  justify-content: center;
}
.footer-menu-main li:first-child {
  margin-bottom: 14px;
}
.footer-menu-main li:not(:nth-child(1)) {
  margin-top: 8px;
}

.footer-menu-main li a {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  /* Main/80 */

  color: #666666;
}

.footer-menu-main li a h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 18px */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Main/100 */

  color: #111113;
}

.footer-menu-info {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  margin-left: 500px;

  align-items: center;
  justify-content: center;
}
.footer-menu-info li:first-child {
  margin-bottom: 14px;
}
.footer-menu-info li:not(:nth-child(1)) {
  margin-top: 8px;
}

.footer-menu-info li a {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  /* Main/80 */

  color: #666666;
}

.footer-menu-info li a h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 18px */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Main/100 */

  color: #111;
}

.footer-menu-company {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  margin-left: 708px;

  align-items: center;
  justify-content: center;
}
.footer-menu-company li:first-child {
  margin-bottom: 14px;
}
.footer-menu-company li:not(:nth-child(1)) {
  margin-top: 8px;
}

.footer-menu-company li a {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-feature-settings: "salt" on, "ss01" on;

  /* Main/80 */

  color: #666666;
}

.footer-menu-company li a h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 18px */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Main/100 */

  color: #111;
}

.footer-input {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  margin-left: 940px;

  align-items: center;
  justify-content: center;
}
.footer-input li h4 {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 18px */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Main/100 */

  color: #111;
}

.footer-input li input {
  width: 392px;
  height: 56px;
  border: 0.8px solid #e5e5e5;
}
input::placeholder {
  color: #b2b2b2;
  padding-left: 16px;
}

.footer-input li p {
  max-width: 380px;
  margin-top: 16px;
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  /* Main/80 */

  color: #666666;
}

.footer-input li p span {
  color: #b2b2b2;
  text-decoration: underline;
}
